[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-auth = "*"
django-allauth = "*"
django-dotenv = "*"
channels = "*"
channels-redis = "*"
fcm-django = "*"

[requires]
python_version = "3.7"
