[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-auth = "*"
django-allauth = "*"
django-dotenv = "*"
channels = "*"
channels-redis = "*"
fcm-django = "*"
mysqlclient = "*"
version-parser = "*"
django-debug-toolbar = "*"
django-money = "*"
django-mysql = "*"
boto3 = "*"
django-storages = "*"
nanoid = "*"
django-health-check = "*"
gunicorn = "*"
supervisor = "*"
django-slack = "*"
greenlet = "*"
gevent = "*"
django-extensions = "*"
werkzeug = "*"
django-constance = {extras = ["redis"],version = "*"}
slackclient = "*"

[requires]
python_version = "3.7"
