{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p>안녕하세요 아퀴나스입니다.</p>

<p>재직 확인을 위해서 결제 부탁드리겠습니다!</p>

<a href="{{ activate_url }}">
    <button
        style="cursor: pointer; color: #ffffff; background-color: #23272b; border-color: #1d2124; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; text-align: center; font-weight: 400;">서류 결제하기</button>
</a>

<p>감사합니다!</p>

{% endblocktrans %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<p>{{ site_domain }}</p>{% endblocktrans %}
{% endautoescape %}