{% extends "password/base.html" %}

{% block content %}
  <div class="row">
    <h3>비밀번호 재설정</h3><hr/>
    {% include "password/fragments/password_reset_confirm_form.html" %}
  </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var url_elements = window.location.pathname.split('/');
        var uid = url_elements[url_elements.length - 3];
        if (uid !== undefined){
            $('input[name=uid]').val(uid);
        }
        var token = url_elements[url_elements.length - 2];
        if (token !== undefined){
            $('input[name=token]').val(token);
        }
    </script>
{% endblock %}